.about-me-wrapper {
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-bottom: 80px;
}
.about-me-section {
  font-family: 'Impact', sans-serif;
  color: var(--black);
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.span-about-me {
  color: var(--accet-green);
}
.biography-container {
  margin-bottom: 40px;
}
.biography-description {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}
.add {
  margin-top: 24px;
}

.about-me-image {
  border-radius: 18px;
  margin-bottom: 40px;
}
.education-list-element::before,
.role-list-element::before {
  content: '';
  display: block;
  border-radius: 1px;
  background: var(--accet-green);
  transform: rotate(-180deg);
  position: relative;
  left: 10px;
  top: 20px;
  width: 4px;
  height: 4px;
}
.container-education-role {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.biography-title,
.education-title,
.role-title {
  color: var(--black);
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.education-list,
.role-list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 12px;
}

.education-list-description,
.role-list-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-left: 32px;
}
@media screen and (min-width: 768px) {
  .about-me-wrapper {
    padding-bottom: 124px;
  }
  .about-me-section {
    font-size: 108px;
  }
  .about-section-list {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
  }
  .biography-container {
    margin-bottom: 0;
  }
  .biography-description {
    max-width: 336px;
  }
  .about-me-picture {
    display: flex;
    gap: 32px;
    margin-bottom: 60px;
  }
  .about-me-image {
    width: 336px;
    height: 392px;
    margin-top: 368px;
    margin-bottom: 0;
  }
  .biography-title,
  .education-title,
  .role-title {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
  }
  .about-me-container {
    background-image: url(/img/about-me/bg-tab.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: right 1px bottom 155px;
  }
  .container-education-role {
    flex-direction: row;
  }
  .education-container {
    width: 336px;
  }
  .role-container {
    align-items: center;
  }

  .education-list,
  .role-list {
    gap: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .about-me-wrapper {
    padding-bottom: 164px;
  }
  .about-me-container {
    background-image: url(/img/about-me/bg-desk.png);
    background-position: right 10px bottom 250px;
  }
  .about-me-section {
    font-size: 108px;
    line-height: 124px;
    letter-spacing: 0.02em;
  }
  .about-me-image {
    width: 384px;
    height: 448px;
    margin-top: 272px;
  }
  .about-me-picture {
    justify-content: flex-end;
    gap: 136px;
    margin-bottom: 80px;
  }
  .container-education-role {
    padding-left: 208px;
    gap: 136px;
  }
  .education-container {
    width: 384px;
  }
  .biography-description {
    max-width: 488px;
  }
}
