/* *,
*::before,
*::after {

/* ==================----Header---=================== */

header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.hat-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hat-content {
  display: flex;
  align-items: center;
}

.navigation-header {
  display: none;
  align-items: center;
  justify-content: space-between;
}

.head-order-project-btn {
  display: none;
}

.hat-logo {
  display: block;
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--black);
}

.logo-span-heder {
  color: var(--accet-green);
}

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switcher__content {
  position: relative;
  width: 48px;
  height: 24px;
}

.switcher__content input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switcher__content label {
  position: absolute;
  left: 0;
  top: 0;
  cursor: pointer;
  text-indent: -9999px;
  width: 48px;
  height: 24px;
  background-color: var(--light-grey);
  border-radius: 16px;
}

.switcher__content label::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--accet-green);
  border-radius: 50%;
  transition: 0.3s ease-out;
}

.switcher__content label::before {
  content: '';
  position: absolute;
  right: 10px;
  top: 2px;
  width: 20px;
  height: 20px;
  background-color: var(--light-grey);
  border-radius: 50%;
  transition: 0.3s ease-out;
  z-index: -1;
  opacity: 0;
}

.switcher__content input:checked + label {
  background-color: #292929;
}

.switcher__content input:checked + label::after {
  transform: translateX(24px);
}

.switcher__content input:checked + label::before {
  background-color: #292929;
  opacity: 1;
  z-index: 5;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: var(--black);
  margin-left: 10px;
}

@media screen and (min-width: 360px) {
  .burger-icon {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding: 24px 0;
  }

  .hat-logo {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.05em;
  }

  .navigation-header {
    display: none;
  }

  .head-order-project-btn {
    display: block;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black);
    border-radius: 8px;
    padding: 12px 24px;
    width: 217px;
    height: 48px;
    background-color: var(--accet-green);
  }

  .head-order-project-btn:hover,
  .head-order-project-btn:focus {
    background-color: var(--hover-green);
  }

  .burger-icon {
    margin-left: 40px;
  }
  .head-order-project-btn {
    margin-left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .burger-btn {
    display: none;
  }

  .hat-logo {
    font-size: 32px;
  }

  .navigation-header {
    display: block;
  }

  .navigation-list-head {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 80px;
  }

  .navigation-link-head:hover,
  .navigation-link-head:focus {
    color: var(--accet-green);
  }

  .navigation-link-head {
    display: block;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--black) transition color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
