.hero {
  color: var(--white);
  padding-bottom: 80px;
  padding-top: 80px;
}
.hero-bg {
  margin: 0 auto;
  background-image: url(/img/hero/bg-mob.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 10px;
  background-position-x: 2px;
}

.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
}
.hero-title {
  max-width: 320px;
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}
.text-green {
  color: var(--accet-green);
}
.hero-images {
  overflow: hidden;
  width: 100%;
  max-width: 276px;
  flex-shrink: 0;
  height: auto;
  margin: 0 auto;
  z-index: 10;
}
.hero-images img {
  width: 100%;
}
.social-list {
  display: none;
}
.hero-tx-con {
  padding: 36px 20px;
  margin: 0 auto;
  background-color: var(--light-grey);
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (max-width: 340px) and (min-width: 280px) {
  .hero-title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-weight: 400;
    font-size: 60px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-bottom: 124px;
  }
  .hero-bg {
    background-image: url(/img/hero/bg-tab.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -40px;
    background-position-x: -10px;
  }

  .hero-title {
    width: 704px;
    max-width: 100%;
    font-family: 'Impact', sans-serif;
    font-weight: 400;
    font-size: 124px;
    line-height: 116%;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: var(--black);
  }
  .hero-images {
    margin: -90px 0 0 auto;
    margin-right: 50px;
  }
  .background-color {
    display: block;
  }
  .hero-tx-con {
    padding: 64px 32px;
  }
  .hero-text {
    max-width: 704px;

    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
  }
  .hero-bg {
    top: 0;
    right: -5px;
    z-index: -1;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    color: var(--white);
    padding-bottom: 164px;
    padding-top: 192px;
  }
  .hero-content {
    display: flex;
    flex-wrap: wrap;
  }
  .hero-bg {
    /* padding-top: 192px; */
    background-image: url(/img/hero/bg-desk.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: -190px;
    background-position-x: 450px;
  }
  .hero-images {
    margin: -170px 0 0;
  }

  .container {
    max-width: 1280px;
  }
  .hero-title-list-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding-bottom: 40px;
  }
  .hero-title {
    align-self: flex-end;
    font-size: 136px;
    line-height: 1.14706;
    max-width: 100%;
  }

  .hero-images {
    max-width: 488px;
    width: 100%;
  }
  .social-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 24px;
    gap: 40px;
  }
  .social-link {
    line-height: 150%;
    letter-spacing: 0.03em;
    color: var(--black);
    transition: color ease-in-out 0.2s;
  }
  .social-link:hover {
    color: var(--hover-green);
  }
  .hero-tx-con {
    margin: 0 auto;
    background-color: var(--light-grey);
  }

  .hero-text {
    max-width: 1008px;
  }
}
