.work-together {
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.together-container {
  position: relative;
}
.together-title {
  color: var(--accet-green);
  font-family: Impact;
  font-size: 52px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.23em;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.together-title-span {
  color: var(--black);
}
.together-subtittle {
  color: var(--black);
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56em;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.together-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.together-link {
  display: flex;
  gap: 16px;
  transition: color 250ms;
}
.together-link:hover,
.together-link:focus {
  color: var(--hover-green);
}
.together-item {
  display: flex;
  gap: 16px;
  color: var(--black);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}
.together-icon {
  stroke: var(--accet-green);
  fill: transparent;
}
.form-label {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.together-form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.form-input-name {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: var(--light-grey);
  height: 48px;
  border: none;
  color: var(--black);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  gap: 32px;
}
.input-container {
  position: relative;
}
.email-correct-icon {
  position: absolute;
  right: 17px;
  top: 17px;
  stroke: transparent;
  fill: var(--accet-green);
}
.d-none {
  display: none;
}
.input-textarea {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: var(--light-grey);
  height: 128px;
  border: none;
  color: var(--black);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  resize: none;
}
.form-btn {
  border-radius: 8px;
  background-color: var(--accet-green);
  color: #f0f0f0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  border: none;
  width: 100%;
  height: 48px;
  transition: background-color 250ms;
}
.form-btn:hover,
.form-btn:focus {
  background-color: var(--hover-green);
}
.together-invalid-email {
  position: absolute;
  bottom: -20px;
  left: 16px;
  color: var(--error);
  font-family: Poppins;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.33em;
  letter-spacing: 0.5px;
  display: block;
  visibility: visible;
  opacity: 1;
}
.d-none {
  opacity: 0;
  visibility: hidden;
}
.iziToast {
  position: fixed !important;
  right: 1rem !important;
  top: 1rem !important;
  z-index: 9999;
}
/* ---TABLET--- */
@media screen and (min-width: 768px) {
  .work-together {
    max-width: 768px;
    margin: 0 auto;
    padding-top: 124px;
    padding-bottom: 124px;
    background-repeat: no-repeat;
    background-size: 336px 260px;
    background-image: url(/img/work-together/bg-tab.png);
    background-position-x: 93%;
    background-position-y: 6px;
  }
  .together-title {
    font-family: Impact;
    font-size: 108px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.15em;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 60px;
  }
  .together-subtittle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: 0.5px;
    width: 488px;
  }
  .together-list {
    flex-direction: row;
    margin-bottom: 60px;
    justify-content: flex-start;
  }
  .together-item {
    color: var(--black);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0.5px;
  }
  .form-btn {
    padding: 12px 24px;
    width: 173px;
  }
}
/* ---DESKTOP--- */
@media screen and (min-width: 1280px) {
  .work-together {
    max-width: 1280px;
    padding-top: 164px;
    padding-bottom: 164px;
    background-repeat: no-repeat;
    background-size: 526px 408px;
    background-image: url(/img/work-together/bg-desk.png);
    background-position-x: 95%;
    background-position-y: 30px;
  }

  .together-title {
    margin-bottom: 80px;
  }

  .together-subtittle {
    margin-bottom: 120px;
  }
  .together-list {
    flex-direction: column;
    margin-bottom: 0;
  }
  .together-position {
    display: flex;
    justify-content: space-between;
  }
  .form-input-name {
    width: 592px;
  }
}
.form-input-name-error {
  color: var(--error);
}
