<section class="about-me-wrapper" id="anchor1">
  <div class="container about-me-container">
    <h2 class="about-me-section">
      About <span class="span-about-me">me</span>
    </h2>
    <div class="about-me-picture">
      <picture class="about-me-photo">
        <source media="(min-width: 1280px)" srcset="
            /img/about-me/img-desk.jpg 1x,
            /img/about-me/img-desk-2x.jpg 2x
          " />
        <source media="(min-width: 768px)" srcset="/img/about-me/img-tab.jpg 1x, /img/about-me/img-tab-2x.jpg 2x" />
        <source media="(max-width: 767px)" srcset="/img/about-me/img-mob.jpg 1x, /img/about-me/img-mob-2x.jpg 2x" />
        <img src="/img/about-me/img-mob-2x.jpg" alt="My picture" width="384" height="448" class="about-me-image"
          loading="lazy" />
      </picture>
      <div class="biography-container">
        <h3 class="biography-title">BIO</h3>
        <p class="biography-description">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="biography-description add">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>
    </div>
    <div class="container-education-role">
      <div class="education-container">
        <h3 class="education-title">EDUCATION</h3>
        <ul class="education-list">
          <li class="education-list-element">
            <p class="education-list-description">
              2018 - 2019 / Frontend Development Diploma, GoIT IT School, New
              York
            </p>
          </li>
          <li class="education-list-element">
            <p class="education-list-description">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </p>
          </li>
          <li class="education-list-element">
            <p class="education-list-description">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </p>
          </li>
        </ul>
      </div>
      <div class="role-container">
        <h3 class="role-title">ROLE</h3>
        <ul class="role-list">
          <li class="role-list-element">
            <p class="role-list-description">Frontend development</p>
          </li>
          <li class="role-list-element">
            <p class="role-list-description">HeadlessCMS, Wordpress</p>
          </li>
          <li class="role-list-element">
            <p class="role-list-description">Blender (enjoy)</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>