<div class="container footer-container">
    <div class="footer-logo-container">
        <a href="./index.html">
            <h3 class="footer-logo">
                Lloyd<span class="footer-logo-span">Jefferson.</span>
            </h3>
        </a>
        <ul class="footer-link-list">
            <li class="footer-link">
                <a href="https://www.instagram.com/goitclub/" rel="noreferrer nofollow noopener"
                    target="_blank">Instagram</a>
            </li>
            <li class="footer-link">
                <a href="https://www.facebook.com/goITclub/ " rel="noreferrer nofollow noopener"
                    target="_blank">Facebook</a>
            </li>
            <li class="footer-link">
                <a href="https://www.linkedin.com/school/goit-start-your-career-in-it  "
                    rel="noreferrer nofollow noopener" target="_blank">Linkedin</a>
            </li>
            <li class="footer-link">
                <a href="https://github.com/artem-ilchuk/Team-project-Porfolio" rel="noreferrer nofollow noopener"
                    target="_blank">GitHub</a>
        </ul>
    </div>
    <div class="copyright">
        <p class="copyright-txt">© Copyright 2024. Made by loydJefferson</p>
    </div>
</div>