<div class=" mobile-menu js-menu-container">
  <div class="header-mob">
    <a class=" mob-hat-logo" href="./index.html">Lloyd<span class="logo-span-heder">Jefferson.</span></a>
    <button type="button" class="menu-close js-close-menu">
      <svg class="mob-icon icon-toggle-color" width="32px" height="32px">
        <use href="/img/sprite.svg#icon-x">
        </use>
      </svg>
    </button>
  </div>
  <div class="mobile-menu-container">
    <ul class="navigation-mob-list">
      <li class="mob-list-item">
        <a href="#anchor1" class="navigation-mob-link js-mob-link">About me</a>
      </li>
      <li class="mob-list-item">
        <a href="#anchor2" class="navigation-mob-link js-mob-link">Projects</a>
      </li>
      <li class="mob-list-item">
        <a href="#anchor3" class="navigation-mob-link js-mob-link">Contacts</a>
      </li>
    </ul>
    <div class="mob-btn-order-sec">
      <a class="mob-order-project-btn js-mob-link" href="#anchor3">ORDER THE PROJECT</a>
    </div>
  </div>
  <ul class="mob-social-list">
          <li class="mob-social-item">
            <a
              class="mob-social-link"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >Instagram</a
            >
          </li>
          <li class="mob-social-item">
            <a
              class="mob-social-link"
              href="https://t.me/junior_developer_ua"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >Telegram</a
            >
          </li>
          <li class="mob-social-item">
            <a
              class="mob-social-link"
              href="https://www.linkedin.com/school/goit-start-your-career-in-it"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >LinkedIn</a
            >
          </li>
          <li class="mob-social-item">
            <a
              class="mob-social-link"
              href="https://github.com/artem-ilchuk/Team-project-Porfolio"
              target="_blank"
              rel="noopener noreferrer nofollow"
              >GitHub</a
            >
          </li>
  </ul>
</div>