<section class="wrapper" id="anchor2">
    <div class="container ">
        <h2 class="title_my_project">
            MY <span class="green_tmp">PROJECTS</span>
        </h2>
        <ul class="nav_my_project">
            <li class="list_my_project">
                <img class="img_my_project" src="/img/my-project/five-2x.jpg"
                    srcset="/img/my-project/five.jpg 1x, /img/my-project/five-2x.jpg 2x" alt="Wallet webservice" loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">WALLET WEBSERVICE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>               
            </li>
            <li class="list_my_project">
                <img class="img_my_project" src="/img/my-project/fourth-2x.jpg"
                    srcset="/img/my-project/fourth.jpg, /img/my-project/fourth-2x.jpg 2x" alt="Wallet webservice " loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">GREEN HARVEST STORE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="list_my_project">
                <img class="img_my_project" src="/img/my-project/nine-2x.jpg"
                    srcset="/img/my-project/nine.jpg, /img/my-project/nine-2x.jpg 2x" alt="Wallet webservice " loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">ENGLISH EXELLENCE WEBSITE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="list_my_project hidden">
                <img class="img_my_project" src="/img/my-project/first-2x.jpg"
                    srcset="/img/my-project/first.jpg, /img/my-project/first-2x.jpg 2x" alt="Wallet webservice " loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">POWER PULSE WEBSERVICE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="list_my_project hidden">
                <img class="img_my_project" src="/img/my-project/second-2x.jpg"
                    srcset="/img/my-project/second.jpg, /img/my-project/second-2x.jpg 2x" alt="Wallet webservice " loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">MIMINO WEBSITE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="list_my_project hidden">
                <img class="img_my_project" src="/img/my-project/third-2x.jpg"
                    srcset="/img/my-project/third.jpg, /img/my-project/third-2x.jpg 2x" alt="Wallet webservice " loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">VYSHYVANKA VIBES LANDING PAGE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="list_my_project hidden">
                <img class="img_my_project" src="/img/my-project/six-2x.jpg"
                    srcset="/img/my-project/six.jpg, /img/my-project/six-2x.jpg 2x" alt="Wallet webservice " loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">CHEGO JEWELRY WEBSITE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="list_my_project hidden">
                <img class="img_my_project" src="/img/my-project/seven-2x.jpg"
                    srcset="/img/my-project/seven.jpg, /img/my-project/seven-2x.jpg 2x" alt="Wallet webservice " loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">ENERGY FLOW WEBSERVICE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="list_my_project hidden">
                <img class="img_my_project" src="/img/my-project/eight-2x.jpg"
                    srcset="/img/my-project/eight.jpg, /img/my-project/eight-2x.jpg 2x" alt="Wallet webservice " loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">FRUITBOX ONLINE STORE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="list_my_project hidden">
                <img class="img_my_project" src="/img/my-project/ten-2x.jpg"
                    srcset="/img/my-project/ten.jpg, /img/my-project/ten-2x.jpg 2x" alt="Wallet webservice " loading="lazy">
                <p class="card_text_my_project">React, JavaScript, Node JS, Git</p>
                <div class="title_box">
                    <h3 class="title_card_my_project">STARLIGHT STUDIO LANDING PAGE</h3>
                    <a class="card-link" href="https://github.com/artem-ilchuk/Team-project-Porfolio" target="_blank">
                        VISIT
                        <svg width="24" height="24">
                            <use class="icon_my_project" href="./img/sprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>
            </li>
        </ul>
        <div class="box_btn_first_my_project">
            <button class="btn_my_project_first" id="btn_my_project_first" type="submit">LOAD MORE</button>
        </div>

    </div>
</section>