<section class="js-load-reviews">
  <div class="container">
    <h2 class="review-title">REVIEWS</h2>
    <div class="swiper">
      <ul class="swiper-wrapper"></ul>
    </div>
    <div class="btn-thumb">
      <button class="reviews-button-prev" type="button">
        <svg class="btn-arrow">
          <use class="btn-arrow-color" href="./img/sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button class="reviews-button-next" type="button">
        <svg class="btn-arrow">
          <use class="btn-arrow-color" href="./img/sprite.svg#icon-arrow-rigth"></use>
        </svg>
      </button>
    </div>
  </div>
</section>