<section class="tech-skils-container">
    <div class="skills-animation">
        <h2 class="tech-skills-hidden hiden-css">Technical skills</h2>

        <div class="marquee-1">
            <div class="marquee__inner-1">
                <p class="marquee-line">
                    <span class="dot"></span> HTML/CSS
                    <span class="dot"></span> JavaScript
                    <span class="dot"></span> React
                    <span class="dot"></span> Node.js
                    <span class="dot"></span> React Native
                    <span class="dot"></span> TypeScript
                    <span class="dot"></span> HTML/CSS
                    <span class="dot"></span> JavaScript
                    <span class="dot"></span> React
                    <span class="dot"></span> Node.js
                    <span class="dot"></span> React Native
                    <span class="dot"></span> TypeScript
                </p>
            </div>
        </div>

        <div class="marquee-2">
            <div class="marquee__inner-2">
                <p class="marquee-line">
                    <span class="dot"></span> HTML/CSS
                    <span class="dot"></span> JavaScript
                    <span class="dot"></span> React
                    <span class="dot"></span> Node.js
                    <span class="dot"></span> React Native
                    <span class="dot"></span> TypeScript
                    <span class="dot"></span> HTML/CSS
                    <span class="dot"></span> JavaScript
                    <span class="dot"></span> React
                    <span class="dot"></span> Node.js
                    <span class="dot"></span> React Native
                    <span class="dot"></span> TypeScript
                </p>
            </div>
        </div>
    </div>
</section>